#Terraform dir  
.terraform/   

#Terraform state files 
*.tfstate
*.tfstate.*

#TF Var Values 
*.tfvars
*.tfvars.json
prod.tfvars

#Terraform plan files 
*.tfplan

#S3 backend config file
state.config

#Terraform lock info
terraform.tfstate.lock.info 

#Crash Logs
crash.log

